<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Bhavani</a>, an assignment as a part of her bootcamp webdevelopment program under the guidance of Ken Mazaika and Marco Morawec,  two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>
  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Bhavani Durgavarjhula</h2>
      <br />
      <p>
        Bhavani is an aspiring web developer who has strong knowledge in HTML, CSS, Ruby on Rails, etc. She has completed her Master of Engineering from University of Toronto.
      </p>
    </div>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />